body{
  background-image: url('mediterranean-cuisine-2378758_1920.jpg');
  position: relative;
}

.prompt-login{
  position: relative;
  top: 500px;
  text-align: center;
  font-weight: 900;
  font-size: x-large;
}

.login-block-left{
  position: absolute;
  top: 500px;
  left: 200px;
}

.login-block-right{
  position: absolute;
  top: 500px;
  right: 200px;
}
